<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.viplove.betwithfriends">

    <!-- To auto-complete the email text field in the login form with the BetUser's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bet_with_friends_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.CreateBetActivity"
            android:label="@string/title_activity_create_bet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.MyBetsActivity"
            android:label="@string/title_activity_my_bets"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.CreateStakeActivity"
            android:label="@string/title_activity_create_stake"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.MyStakesActivity"
            android:label="@string/title_activity_my_stakes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
